@font-face {
   font-family: 'Lucida Handwriting Italic';
   src: url('Lucida Handwriting Italic/font.ttf');
}
@font-face {
   font-family: 'CRU-pokawin-Alize pencil-regular';
   src: url('CRU-pokawin-Alize pencil-regular/font.ttf');
}
@font-face {
   font-family: 'Drawing Guides';
   src: url('Drawing Guides/font.ttf');
}
